.cake-container{
  height: 350px;
  width: 250px;
  background-color: rgb(220, 230, 235);
  margin: 0px;
  font-size: 12px;
}
.cart{
  /* margin-left: 550px; */

text-align: end;
}
.movie-specs{
  display: flex;
  align-items: center;
  background-color: bisque;
  /* justify-content:space-between ; */

}
.addtocart{
justify-content: space-around;
align-content: space-around;
align-items: center;

margin-left: 150px;
}
.cake-image{
  height: 200px;
  width: 250px;

}
.home{
  width: 1000px;
  height: 350px;
}
.cakeshop{
  width: 1050px;
}
.cake-name{
  font-size: 15px;
  font-weight: bold;
}
