.cake-container{
  height: 450px;
  width: 250px;
  background-color: rgb(220, 230, 235);
  margin: 0px;
  font-size: 12px;
}
.icon{
  display: flex;
  flex-direction: column;
}
.cart{
  /* margin-left: 550px; */

text-align: end;
}
/* .cakehouse{
  display: flex;
  align-items: center;
  background-color: bisque;
  justify-content:space-between ;
} */
.cake-list{
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 10px; */
    gap: 10px;
    flex-wrap: wrap;
overflow: auto;
}
.addtocart{
justify-content: space-around;
align-content: space-around;
align-items: center;

}
.cake-image{
  height: 200px;
  width: 250px;

}
.home{
  width: 1000px;
  height: 350px;
}
.cakeshop{
  width: 1050px;
}
.cake-name{
  font-size: 15px;
  font-weight: bold;
}
