body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 .movie-container{
 /* width: 340px; */
 justify-content: space-evenly;
 }
 .App{
   display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* width: 340px; */

 }
 .movie-specs{
   display: flex;
   align-items: center;
   width: 340px;
margin: 10px;
   justify-content: space-between;
 }
 .movie-poster{
   height: 200px;
   width: 340px;
   object-fit:fill;
   background-color: blanchedalmond;
 }
 /* .rating{
   font-size: 10px;
   font-weight: 400;
 } */